label for="Name" Namn
input#name type="text" name="construction[name]" value="#{@construction.name}"
label for="img_src" Bildlänk
input#img_src type="text" name="construction[img_src]" value="#{@construction.img_src}"
input type="submit" value="Save construction"
