- if @construction.nil?
  h1 Oops, construction does not Exist
- else
- if !@construction.img_src.nil?
  img src="#{@construction.img_src}"
h1= @construction.name
a href="/constructions/#{@construction.id}/edit" Redigera
