label for="Name" Name
input#title type="text" name="article[name]" value="#{@article.name}"
label for="description" Description:
textarea#description name="article[description]" == @article.description
input type="submit" value="Save Article"
