h2 Artiklar specifikt kopplade till : #{@main_part.name}
== slim :"constructions/parts/show_part_articles"
a.underline href="/constructions/#{@construction.id}/parts/#{@main_part.id}/edit" Redigera
== slim :"constructions/parts/new_article"
